.image-container {
    display: block;
    margin-top: 80px;
    margin-left: 40px;
    border: 2px solid #cce2e4
  }

.image-card {
    position: left;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

.image-container {
      height: 600px;
      width: 660px;
  }